body {
	background: #404040;
	display: inline-block;
	margin: 0px auto;
}

.shadow{
	-webkit-box-shadow: 5px 5px 10px #666;
	box-shadow: 5px 5px 10px #666;
}

.selected{
	-webkit-box-shadow: 5px 5px 10px #326;
	box-shadow: 5px 5px 10px #326; 
}