:root {
	--c_nadir:#000000;
	--c_nightEnd:#050510;
	--c_dawn:#372e38;
	--c_sunrise:#6d555d;
	--c_sunriseEnd:#a4827d;
	--c_goldenHourEnd:#d4b79f;
	--c_solarNoon:#f9f1c9;
	--c_goldenHour:#d4b79f;
	--c_sunsetStart:#a4827d;
	--c_sunset:#6d555d;
	--c_dusk:#372e38;
	--c_night:#05051;
}

body {
	background: #404040;
}

#canvas {
	//background-color: #D9D7DD;
	background-color: #fff;
	width: 1280px;
	height: 800px;
	margin: 0 auto;

	background-image: url("img/GD_002.jpg");
	background-size: cover;
	position: relative;
}



.clock {
	width: 100px;
	height: 100px;

	position: absolute;
	top: 50px;
	right: 50px;
	
	border-radius: 100%;
	background: #ddd;
	border: 5px solid #ddd;
	box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
	overflow: hidden;
	border-radius: 100%;
}

.minute,
.hour {
	position: absolute;
	height: 28%;
	width: 2%;
	margin: auto;
	top: -27%;
	left: 0;
	bottom: 0;
	right: 0;
	background: black;
	transform-origin: bottom center;
	transform: rotate(0deg);
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.minute {
	position: absolute;
	height: 37%;
	width: 1%;
	top: -38%;
	left: 0;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
	transform: rotate(90deg);
}

.dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 3%;
	height: 3%;
	border-radius: 30%;
	background: white;
	border: 2px solid #1b1b1b;
	border-radius: 30%;
	margin: auto;
	z-index: 1;
}

#playbutton {
	width: 200px;
	height: 200px;

	position: absolute;
	top: 300px;
	right: 50px;


	//background-color: #D9D7DD;
	display: block;
}

.sunCicle {
	animation-name: sunColor;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 1s;
	animation-play-state: paused;
}

@keyframes sunColorInv {
	0%, 100% { background: #000000; }
	7%, 92% {background: #050510;}
	14%, 85% {background: #372e38;}
	21%, 78% {background: #6d555d;}
	28%, 71% {background: #a4827d;}
	35%, 64% {background: #d4b79f;}
	50% {background: #f9f1c9;}
}

@keyframes sunColor {
	0%, 100% { background: #f9f1c9; }
	7%, 92% {background: #d4b79f;}
	14%, 85% {background: #a4827d;}
	21%, 78% {background: #6d555d;}
	28%, 71% {background: #372e38;}
	35%, 64% {background: #050510;}
	50% {background: #000000;}
}


#controls_speed {
	height: 26px;

	position: absolute;
	top: 170px;
	right: 0px;
	text-align: center;
	padding: 2px;
}

.controlsSpeed { 
	display: inline-block;
	height: 100%;
	position: relative;
	margin: 6px;
	//background-color: #eee;
}

.controlsSpeed img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

#info{

}
.shadow{
	-webkit-box-shadow: 5px 5px 10px #666;
	box-shadow: 5px 5px 10px #666; /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
}

.selected{
	-webkit-box-shadow: 5px 5px 10px #326;
	box-shadow: 5px 5px 10px #326; /* For IE 8 */
	
}
